body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: pink;
}

.container {
    display: flex;
    flex-direction: row;
    max-width: 1200px;
    margin: 50px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.profile {
    width: 30%;
    text-align: center;
    padding: 20px;
    border-right: 1px solid #ddd;
}

.profile-pic {
    width: 100%;
    max-width: 150px;
    height: auto;
    border-radius: 50%;
    margin-bottom: 20px;
}

.profile h2 {
    font-size: 1.8em;
    margin-bottom: 10px;
}

.gen-info {
    width: 70%;
    padding: 20px;
}
.tables{
    font-family: Arial,sans-serif;
    border-collapse: collapse;
    width: 100%;

}
td{
    border: 3px solid black;
    text-align: left;
    padding: 8px;
}


.gen-info, .other-info {
    margin-bottom: 20px;
}

.gen-info h3, .other-info h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

p{
    margin: 5px;
}